 <!-- Footer -->
 <footer class="content-footer footer bg-footer-theme">
       <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
             <div class="mb-2 mb-md-0">
                   © <script>
                         document.write(new Date().getFullYear())
                   </script>
                   , made with ❤️ by <a href="https://www.linkedin.com/in/ronanda-saputra/" target="_blank"
                         class="footer-link fw-bolder">Mentor Intern 2023</a>
             </div>
             <div>
             </div>
       </div>
 </footer>
 <!-- / Footer -->
 <div class="content-backdrop fade"></div>
 </div>
 <!-- Content wrapper -->
 </div>
 <!-- / Layout page -->
 </div>
 <!-- Overlay -->
 <div class="layout-overlay layout-menu-toggle"></div>

 </div>
 <!-- / Layout wrapper -->
 <!-- Core JS -->
 <script type="text/javascript">
       $('#btnTambahPresensi').click(function () {
             $('#presensiForm').toggle();
       });

       function tambah_data_kelas() {
             let mentor = $('#mentor').val();
             let sekolah = $('#sekolah').val();
             let program = $('#program').val();
             alert(sekolah);
             $.ajax({
                   type: "POST",
                   url: "/tambah_data_kelas",
                   data: {
                         mentor_give: mentor,
                         sekolah_give: sekolah,
                         program_give: program,
                   },
                   success: function (response) {
                         window.location.reload();
                   }
             });
       };
 </script>


 <!-- Add Data Course -->
 <script type="text/javascript">
       function tambah_data_institue() {
             let institute = $('#institute').val();
             let course = $('#course').val();
             let category = $('#category').val();

             $.ajax({
                   type: "POST",
                   url: "/post_institute",
                   data: {
                         'institute_give': institute,
                         'course_give': course,
                         'category_give': category,
                   },
                   success: function (response) {
                         if (response["result"] === "failed") {
                               window.location.replace("/institute_course");
                         } else {
                               Swal.fire(
                                     'Good job!',
                                     'Data was added!',
                                     'success'
                               )
                         }
                   }
             })
       }

       function tambah_data_mentor() {
             let mentor = $('#mentor').val();
             let gender = $('#gender').val();
             let address = $('#address').val();

             $.ajax({
                   type: "POST",
                   url: "/post_mentor",
                   data: {
                         'mentor_give': mentor,
                         'gender_give': gender,
                         'address_give': address,
                   },
                   success: function (response) {
                         if (response["result"] === "failed") {
                               Swal.fire(
                                     'Error!',
                                     response["msg"],
                                     'error'
                               );
                         } else {
                              Swal.fire({
                                    icon: 'success',
                                    title: 'Success!',
                                    text: 'Data was Added!',
                                    willClose: () => {
                                        window.location.reload();
                                    }
                              });
                         }
                   }
             });
       }
 </script>


 <!-- Select2JS -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

 <script>
       $(document).ready(function () {
             $('.js-example-basic-single').select2();
             $('.js-example-basic-multi').select2({
                  multiple: true
             });
             $('#searchMentor').on('keyup', function () {
                   var value = $(this).val().toLowerCase();
                   $('table tbody tr').filter(function () {
                         $(this).toggle($(this).text().toLowerCase().indexOf(
                               value) > -1)
                   });
             });

             $('#searchSchool').on('keyup', function () {
                   var value = $(this).val().toLowerCase();
                   $('table tbody tr').filter(function () {
                         $(this).toggle($(this).text().toLowerCase().indexOf(
                               value) > -1)
                   });
             });

             $('#searchClass').on('keyup', function () {
                   var value = $(this).val().toLowerCase();
                   $('table tbody tr').filter(function () {
                         $(this).toggle($(this).text().toLowerCase().indexOf(
                               value) > -1)
                   });
             });
       });
 </script>

 <!-- Sweet Alert -->
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.all.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

 <!-- build:js assets/vendor/js/core.js -->
 <!-- <script src="{{ url_for('static', filename='sneat/assets/vendor/libs/jquery/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='sneat/assets/vendor/libs/popper/popper.js') }}"></script> -->
 <script src="{{ url_for('static', filename='sneat/assets/vendor/js/bootstrap.js') }}"></script>
 <script src="{{ url_for('static', filename='sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}">
 </script>

 <script src="{{ url_for('static', filename='sneat/assets/vendor/js/menu.js') }}"></script>

 <!-- Vendors JS -->
 <script src="{{ url_for('static', filename='sneat/assets/vendor/libs/apex-charts/apexcharts.js') }}"></script>

 <!-- Main JS -->
 <script src="{{ url_for('static', filename='sneat/assets/js/main.js') }}"></script>

 <!-- Page JS -->
 <script src="{{ url_for('static', filename='sneat/assets/js/dashboards-analytics.js') }}"></script>

 <!-- Place this tag in your head or just before your close body tag. -->
 <script async defer src="https://buttons.github.io/buttons.js"></script>
 </body>

 </html>